<a href="https://colab.research.google.com/github/YugyeongJo/study_temps/blob/main/inital_yugyeongjo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#여긴 화면 출력 명령어
print("안녕하세요. 첫 개발 시작입니다.") # 안녕. 출력

안녕하세요. 첫 개발 시작입니다.

In [ ]:
#quest 1
print("조유경은 데이터 엔지니어 양성과정을 듣습니다.")

조유경은 데이터 엔지니어 양성과정을 듣습니다.

In [ ]:
#숫자화된 문자 출력 with 상수
print("4+5")

4+5

In [ ]:
# 숫자출력 with 상수
print(4+5)

9

In [ ]:
#숫자화된 문자 출력 with 변수
numberwithval = "4+5"
print(numberwithval)

4+5

In [ ]:
numberwithvals = 4+5
print(numberwithvals)

9

In [ ]:
#quest 2
numberwith = "40+50"
print(numberwith)

40+50

In [ ]:
#숫자화된 변수 출력 with 변수
numbers = numberwithval + "=9"
print(numbers)

4+5=9

In [ ]:
#여긴 화면 출력 명령어
print("안녕하세요. 첫 개발 시작입니다.") #안녕. 출력
#quest1
print("조유경은 데이터 엔지니어 양성과정을 듣습니다.")
#숫자화된 문자 출력 with 상수
print("4+5")
#숫자출력 with 상수
print(4+5)
#숫자화된 문자 출력 with 변수
numberwithval = "4+5"
print(numberwithval)
numberwithvalsl = 4+5
print(numberwithvals)
#quest2
numberwith = "40+50"
print(numberwith)
#숫자화된 변수 출력 with 변수
numbers = numberwithval + "=9"
print(numbers)

안녕하세요. 첫 개발 시작입니다.
조유경은 데이터 엔지니어 양성과정을 듣습니다.
4+5
9
4+5
9
40+50
4+5=9

In [ ]:
#여긴 화면 출력 명령어
print("안녕하세요. 첫 개발 시작입니다.") #안녕. 출력
#quest1
print("조유경은 데이터 엔지니어 양성과정을 듣습니다.")
#숫자화된 문자 출력 with 상수
print("4+5")
#숫자출력 with 상수
print(4+5)
#숫자화된 문자 출력 with 변수
numberwithval = "4+5"
print(numberwithval)
numberwithvals = 4+5
print(numberwithvals)
#quest2
numberwith = "40=50"
print(numberwith)
#숫자화된 변수 출력 with 변수
numbers = numberwithval + "=9"
print(numbers)

안녕하세요. 첫 개발 시작입니다.
조유경은 데이터 엔지니어 양성과정을 듣습니다.
4+5
9
4+5
9
40=50
4+5=9

In [ ]:
# 데이터 타입이 숫자 with 변수
result = 4 + 5
print(result)

9

In [ ]:
# 두 수를 입력 받아 변수에 넣고 결과 출력
input = 4
input2 = 5
result = input+input2
print(result)

9

In [ ]:
# 위에 내용 반복
input = 8
input2 = 9
result = input+input2
print(result)

17